/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;

}

header h1 {
    margin-bottom: 0;
}

header nav a {
    color: white;
    margin: 5px;
    
}
   nav a:hover {
    text-decoration: underline;
    color: aqua;
   }
   main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
   }

   main section{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1 1 300px;
   }

   main section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
   }
   main section h2 {
    margin-bottom: 10px;
    color: #007bff;
   }
   footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
   }